<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/home.css}" />
    <form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
        <input type="submit" style="margin-left: 1em" class="fs-3" value="Sign Out"/>
    </form>
</head>
<body>

<!--header section Start -->

<header th:replace="Base/Header::navbar"/>

<!-- header section ends -->

<!-- about section starts  -->


<section class="about" id="about" >

    <h1 class="heading"> <span>about</span> us </h1>

    <div class="row">

        <div class="image">
            <img  th:src="@{/image/about-img.svg}" alt=""/>
        </div>

        <div class="content">
            <h3>we take care of your healthy life</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure ducimus, quod ex cupiditate ullam in assumenda maiores et culpa odit tempora ipsam qui, quisquam quis facere iste fuga, minus nesciunt.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus vero ipsam laborum porro voluptates voluptatibus a nihil temporibus deserunt vel?</p>
        </div>

    </div>

</section>
<script type="text/javascript" th:src="@{/js/home.js}"></script>
<script type="text/javascript"  src="/js/login.js" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>