<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>Medicines</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/home.css}" />
</head>
<body>

<!--header section Start -->

<header th:replace="Base/Header::navbar"/>

<!-- header section ends -->
<section class="book" id="book" style="margin-top: 6em">

    <h1 class="heading"> <span>Medicines</span> Apply </h1>

    <div class="row">

        <div class="image">
            <img th:src="@{/image/book-img.svg}"  alt="">
        </div>

        <form th:action="@{/services/applyMedicines}" th:object="${medicineInfo}" th:method="post">
            <h3>Medicines</h3>
            <input type="text" placeholder="Name" class="box" th:field="*{name}">
            <input type="tel" placeholder="Phone Number" class="box" th:field="*{phoneNumber}">
            <input type="email" placeholder="Email" class="box" th:field="*{email}">
            <input type="text" placeholder="Doctors Prescription" class="box" th:field="*{precription}">
            <input type="submit" value="Apply" class="btn">
        </form>

    </div>

</section>
<script type="text/javascript" th:src="@{/js/home.js}"></script>
<script type="text/javascript"  src="/js/login.js" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>